[submodule "themes/AllinOne"]
	path = themes/AllinOne
        url = https://github.com/anna-liao/AllinOne.git
[submodule "public"]
	path = public
	url = git@github.com:anna-liao/anna-liao.github.io.git
	branch = master
